<ng-container *ngIf="result$ | async as result else loading">
  <div class="flex flex-none flex-wrap flex-column md:flex-row align-content-center justify-content-center gap-3">
    <div *ngFor="let movie of movies$ | async" class="movie-card">
      <div *ngIf="movie.poster_path" class="movie-card-image">
        <figure class="image is-2by3">
          <img [src]="imdbImage.getImageUrl('original', movie.poster_path)" [alt]="movie.title"/>
        </figure>
      </div>
      <div class="movie-card-content">
        <p class="movie-card-content-title">{{ movie.title }}</p>
        <p class="movie-card-content-tagline">{{ movie.tagline }}</p>
      </div>
    </div>
  </div>
  <p-paginator [first]="first" [rows]="result.results.length" [totalRecords]="result.total_results - 1"
               [showPageLinks]="true"
               (onPageChange)="paginate($event)"
  >
  </p-paginator>
</ng-container>


<ng-template #loading>
  <div class="custom-skeleton p-4">
    <ul class="m-0 o-0">
      <li class="mb-3">
        <div class="flex">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="75%"></p-skeleton>
          </div>
        </div>
      </li>
      <li class="mb-3">
        <div class="flex">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="75%"></p-skeleton>
          </div>
        </div>
      </li>
      <li class="mb-3">
        <div class="flex">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="75%"></p-skeleton>
          </div>
        </div>
      </li>
      <li>
        <div class="flex">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="75%"></p-skeleton>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ng-template>
