<div *ngIf="result$ | async as result else loading">
  <div class="columns is-multiline is-3">
    <app-movie-card *ngFor="let movie of movies$ | async as movies" [movie]="movie" pStyleClass="column"></app-movie-card>
  </div>
  <p-paginator [first]="first" [rows]="result.results.length" [totalRecords]="result.total_results - 1"
               [showPageLinks]="true"
               (onPageChange)="paginate($event)"
  >
  </p-paginator>
</div>


<ng-template #loading>
  <div class="custom-skeleton p-4">
    <ul class="m-0 o-0">
      <li class="mb-3">
        <div class="flex">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="75%"></p-skeleton>
          </div>
        </div>
      </li>
      <li class="mb-3">
        <div class="flex">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="75%"></p-skeleton>
          </div>
        </div>
      </li>
      <li class="mb-3">
        <div class="flex">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="75%"></p-skeleton>
          </div>
        </div>
      </li>
      <li>
        <div class="flex">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="75%"></p-skeleton>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ng-template>
